body {
  padding-left: 2em;
  font-family: Georgia, "Times New Roman",
         Times, serif;
  color: #416989;
  background-color: #ffdebc }
 ul {
   position: absolute;
   list-style-type: none;
   padding: 0;
   margin: 0;
   top: 15em;
   left: 3em;
   width: 9em }
 h1{
   font-family: Helvetica, Geneva, Arial,
         SunSans-Regular, sans-serif }
 ul li {
         background: white;
         margin: 0.5em 0;
         padding: 0.3em;
         border-right: 1em solid #416989 }
 ul a {
         text-decoration: none }
 a:link {
         color: #c34741 }
 a:visited {
         color: #416989 }
 address {
  margin-top: 1em;
  padding-top: 1em;
  border-top: thin dotted }
</style>
</head>
